.App {
  text-align: center;
   
}

.header__wrapper{
  margin: 0 auto;
  /* width: 500px;
  height: 200px; */
  background: lightblue;
  position: relative;
  overflow: hidden;
  background-color: #094B35;
  
   
}
.header__wrapper:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -7%;
  left: -7%;
  height: 120px;
  background: #fff;
  -webkit-clip-path: ellipse(50% 130% at 52% 120%);
  clip-path: ellipse(50% 130% at 50% 100%);
}
.welcome__message{
  color: white;
  
}